# Finn bøker til parallellstilling

Her lages ordlister for hvert noen år knyttet til språkbruken. frem til 1840, mellom 1840 og 1920, 1920 til 1960, og etter 1960

In [1]:
import dhlab.module_update as mu
import dhlab.text as dh
import pandas as pd
import verk as v

In [2]:
mu.css()

Sample a corpus from each writing period

In [87]:
corpus = {
    year : dh.Corpus(from_year = year, to_year = year_to, limit = 550, lang="nob") for year, year_to in [(1700, 1917), (1920, 2010)]}

Collect top words

In [88]:
topwords = {year:dh.Counts(corpus = corpus[year]).counts.sum(axis=1).sort_values(ascending=False).head(1500) for year in corpus}

Turn it into a dataframe

In [89]:
res = pd.DataFrame(topwords).fillna(0)

Keep alphanumeric characters

In [90]:
result = res.loc[[x for x in res.index if x.isalpha()]]

Make it into a 1 vs. 0 matrix

In [91]:
check = result/result

Find words that are different between the columns

In [92]:
diff_words = check.loc[[x for x in check.index if check.loc[x].sum() == 1]].index

Have a look

In [95]:
result.loc[diff_words].sort_values(by=1920, ascending=False)

         1700     1920
seg       0.0  90457.0
ble       0.0  52440.0
meg       0.0  37342.0
opp       0.0  33433.0
noe       0.0  32325.0
...       ...      ...
faae   1663.0      0.0
faaet  5099.0      0.0
faar   9450.0      0.0
faat   1689.0      0.0
üben   2373.0      0.0

[1453 rows x 2 columns]

In [94]:
result.loc[diff_words].to_csv("old_vs_new_word_list.csv")